# python binaries
*.pyc
bin/
/*/bin
.cache/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# vim swap files
*.swp

# IDEA:
.idea/
**.iml
**.iml

# VSCODE
.vscode

# IDEA - generated artifacts
**/build/
**/out/

# Apple metadata
**/.DS_Store

# incore pw file
tests/.incorepw

# incore download data or test data
tests/data/
cache_data/
original/

# pytest cache
.pytest_cache

# jupyter notebook checkpoints folder
.ipynb_checkpoints

# jupyter notebook
.user

# possible output file
*.csv


