# python binaries
*.pyc
bin/
/*/bin
.cache/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# vim swap files
*.swp

# IDEA:
.idea/
**.iml
**.iml

# IDEA - generated artifacts
**/build/
**/out/

# Apple metadata
**/.DS_Store

# incore pw file
tests/.incorepw

# incore download data
tests/data/

# pytest cache
.pytest_cache

# jupyter notebook checkpoints folder
.ipynb_checkpoints
