deprecated>=1.2.10
fiona>=1.8.4
geopandas>=0.6.1
jsonpickle>=1.1
networkx>=2.2
numpy>=1.16.1
owslib>=0.17.1
pandas>=0.24.1
pyproj>=1.9.6
pyyaml>=3.13
rasterio>=1.0.18
requests>=2.21.0
rtree>=0.8.3
scipy>=1.2.0
shapely>=1.6.4.post1
wntr>=0.1.6
pyomo>=5.6
pytest>=3.9.0
python-jose>=3.0
pycodestyle>=2.6.0
