fiona>=1.8.4
folium>=0.7.0
jsonpickle>=1.1
matplotlib>=2.1.0
networkx>=2.2
numpy>=1.16.1
owslib>=0.17.1
pandas>=0.24.1
plotly>=3.6.0
py-expression-eval>=0.3.6
pyproj>=1.9.6
rasterio>=1.0.18
requests>=2.21.0
rtree>=0.8.3
scipy>=1.2.0
shapely>=1.6.4.post2
Sphinx>=1.8.4
sphinx-rtd-theme>=0.4.2
Wikidata>=0.6.1
wntr>=0.1.6