boto3
deprecated
fiona>=1.8.4
geopandas>=0.6.1
ipopt>=3.11
jsonpickle>=1.1
networkx>=2.2
numpy>=1.16.6,<2.0a0
owslib>=0.17.1
pandas>=0.24.1
pycodestyle>=2.6.0
pyomo>=5.6
pyproj>=1.9.6
pytest>=3.9.0
python-jose>=3.0
pyyaml>=3.13
rasterio>=1.0.18
requests>=2.21.0
rtree>=0.8.3
scipy>=1.2.0
shapely>=1.6.4.post1
wntr>=0.1.6
xlrd >= 1.0.0
